@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&family=Roboto+Serif:opsz,wght@8..144,100&display=swap');
.body{

    max-width: 1280px;
    margin: 0 auto; 
}
.aside-main{
    display: flex;
    
}
/*хэдер*/
.logo{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    color: #000000;
}
.logo-link{
    text-decoration: none;
    color: #000000;
}
span{
    color: #4BCAFF;
}
.navbar{

    background: #35444F;
    margin: 0 auto;
}
.header-menu a{
    text-decoration: none;
    color: white;
    margin-right: 30px;
    margin-left: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    

}
.header-menu{
    margin-top: 28px;
    display: flex;
    
}

.header-menu li {
 display: inline-block;
 border-left: 1px solid #FFFFFF;
 border-right: 1px solid #FFFFFF;
 justify-content: space-around;
 padding: 26px 18px 19px 22px
  
}

.menu_link{
    margin-left: 120px;
}
 

.header-menu li:hover{
    background: #222F3A;
}


/*контент*/
aside{
    width: 30%;
    }



.dscr{
    margin-top: 35px;
}
.content-dscr{
    width: 885px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    
}
.ramda-img{
    border: #000000 solid 2px;
    height: 529px;
    width: 885px;
    margin-top: 48px;
    justify-content: center;
    display: flex;
    align-items: center;  
}
.aside-menu a{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 27px;
display: flex;
align-items: center;
color: #485863;
text-decoration: none;
    
display: block;
padding: 28px;
}


.aside-menu {
    margin-top: 48px;
    width: 340px;
    border: 1px solid #000000
}


.aside-menu li:hover{
    background: #DBDBDB;
}
.aside-menu a:hover{
color: #000000;
}
/*футер*/
.footer-menu li{
display: inline-block;
padding: 20px;
}
 .footer-menu a{
    text-decoration: none;
    color: 
    #0C1927;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
   
    align-items: center;
}

.footer-menu{
    background: rgba(99, 105, 110, 0.48);
    margin-top: 54px;
}

.copy{
    margin-left: 100px;
}
.footer-menu a:hover{
    color: #3181A6;
    border-bottom: #3181A6 2px solid;}